/Binaries
/Intermediate
/Saved
/_renom
/.vs
/*.csv
/*.lvx
/**/*.csv
/**/*.lvx
/Csv Saved
/Lvx Saved
/Plugins/LivoxSDK2/Intermediate
/Plugins/LivoxSDK2/Binaries
/Plugins/Ltrace/Intermediate
/Plugins/Ltrace/Binaries
/Plugins/pcls/Intermediate
/Plugins/pcls/Binaries
/NewLivoxViewer.sln
*.log
/Plugins/EasyFileDialog/Intermediate
/Plugins/EasyFileDialog/Binaries
/Plugins/RuntimeTransformer/Intermediate
/Plugins/RuntimeTransformer/Binaries
/Plugins/EasyNotification/Intermediate
/Plugins/EasyNotification/Binaries
/**/Binaries
/**/Intermediate
/.idea
/DerivedDataCache
/.gitignore
/**/*.bak
*.user
config.json
/.vscode
LivoxViewer2.code-workspace
*.code-workspace
/*.sln
/**/__pycache__
